
.contact {
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
   width: 100%;
}

.contact-title {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}


.contact-right-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px; 
}

.form-group{
    position: relative;
    margin: 10px 0;
    padding: 3px 0
}

.placeholder {
    position: absolute;
    left: 10px;
    bottom: 15px;
    color: gray;
    transition: all 600ms ease;
}

.move-placeholder-up {
    transform: translate(-8px, -25px);
    transition: all 600ms ease;
    color: #000
}

.contact-input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
    font-size: 16px;
}


.contact-input:focus{
    outline: none;
    border-bottom: 1.5px solid #000;
}

.contact-input-message{
    resize: none;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 8px;
}

.contact-input-message:focus{
    outline: none;
    border: 1.5px solid #000;
}

.contact-submit-btn {
    margin-top: 20px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--primary);
    color: #fff;
}



@media screen and (min-width: 700px) {
    .contact-container {
        flex-direction: row;
    }
}


@media screen and (min-width: 600px) {
    .contact-right-container {
        width: 65%;
    }
}

@media screen and (min-width: 900px) {

    .contact-right-container {
        width: 45%;
    }
}