.animation {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease;
}

/* to hide item by default  */
.item {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease;
}