
.dot-centered {
    margin: 4px 0;
}

.hide-dot-centered {
    opacity: 0;
}

.animate-dot-top {
    transform: rotate(45deg) translate(6px, 5.5px);
}

.animate-dot-bottom {
    transform: rotate(-45deg) translate( 6px, -5.5px);
}
