

.modal {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: #fff;
    transition: all 500ms ease;
    border-radius: 5px;
    z-index: 99;
-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.24);
box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.24);
}

.modal-message {
    padding: 10px 20px;
}